@media screen and (max-width: 600px) {
    body {
        margin: 0;
    }

    header {
        text-align: center;
        margin: 0;
        background: rgb(30, 35, 35);
        padding-left: 10px;

    }

    .img {
        margin: 0;
        height: 540px;
    }

    .login {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .content {
        width: 100%;
        margin-right: 0;
        padding-top: 50px;
        height: 532px;
        text-align: center;
        background-image: linear-gradient(to bottom, rgb(44, 53, 52, 0.1), rgb(44, 53, 52, 0.5), rgb(44, 53, 52, 1));
    }

    .content h3,
    p {
        position: relative;
        left: 16px;
    }

    ul {
        width: 90%;
        padding-left: 34px;
    }

    ul a {
        text-align: center;
        border-radius: 45px;
        margin-top: 16px;
        padding: 12px;
        font-size: 20px;


    }

    .info {

        text-align: center;
        margin-top: 350px;
        height: 334px;
        background: rgb(44, 53, 52);
        padding-right: 124px;
    }


    #i2 {
        width: 80%;
        margin-top: 50px;
        position: absolute;
        left: 44px;
        height: 250px;
        border-radius: 15px;
    }

    footer {

        justify-content: center;
        height: 100px;
        margin-top: 465px;

    }

    footer .btn-5 {
        position: relative;
        right: 30px;
    }

    footer a:hover {
        font-size: 30px;
    }

    #b1,
    #b2 {
        display: none;
    }





}

@media screen and (min-width:1900px) {
    header {
        padding-bottom: 40px;
        height: 148px;


    }

    header h1 {
        font-size: 60px;
    }

    header h6 {
        font-size: 20px;
        letter-spacing: 14px;
    }

    .img {
        height: 650px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .content {
        width: 600px;
        margin-right: 145px;
    }

    .content h3 {
        font-size: 40px;

    }

    .content p {
        font-size: 26px;
    }

    ul {
        margin-top: 60px;
    }

    ul a {
        font-size: 24px;
        padding: 12px;
        margin-top: 6px;
    }

    .login {
        /* width: 0px; */
        height: 500px;
        padding-right: 50px;
        margin-left: 5%;
        margin-right: 5%;

    }

    .info {
        font-size: 28px;
        padding-right: 54%;
        padding-top: 70px;
        flex: 20%;
    }



    #i1 {
        display: block;
        border: none;
        z-index: 2;
        margin-right: 184px;
        position: absolute;
        right: 56px;
        width: 692px;
        height: 728px;

    }


    #i2 {
        position: absolute;
        right: 104px;
        width: 692px;
        height: 500px;
        margin-left: 0px;
        margin-right: 136px;
    }

    footer {
        height: 120px;
    }

    footer div a {
        font-size: 40px;
    }

    footer a:hover {
        font-size: 44px;
        transition: 0.4s;
    }



    #b1 {
        font-size: 110px;
    }

    #b2 {
        font-size: 140px;
    }
}