@media screen and (max-width: 2000px) {
    #caixa {
        width: 590px;
        height: 627px;
        font-size: 16px;
        padding: 50px;

    }

    #caixa input {
        height: 52px;
        font-size: 18px;
        margin-top: 6px;
        margin-bottom: 26px;
        margin-left: 18px;
        border-radius: 5px;
        padding: 0 8px;
        width: 88%;

    }

    #caixa label {
        margin-left: 18px;
    }

    #caixa .botao {
        position: relative;
        bottom: -30px;
        height: 70px;
        font-size: 22px;
        margin-left: 26px;
    }

    #caixa p {
        font-size: 32px;
    }
}